body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1 {

  padding-left: 5px;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 3rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 3rem;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
p, a, li{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

:root {
  --t-white: white;
  --t-black: black;
  --c-yellow: #ffee00;
  --c-blu: #101c45;
  --c-blue: #656b9b;
}

.montserrat-bg {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-nm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-bg {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

.noto-sans-nm {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}
.t-w{
  color: var(--t-white);
}
.t-b{
  color: var(--t-black);
}
.t-white {
  color: var(--t-white);
}
.t-black {
  color: var(--t-black);
}

/* Dispositivos extra pequenos (telefones, 600px e inferiores) */
@media only screen and (max-width: 600px) {
  .hed {
    width: 100%;
    max-width: 600px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--t-black);
    font-size: 1.3rem;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo h1{
    font-size: 1.2rem;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 100%;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--c-blue);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-black);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: #fff;
    border-width: 0;
    border-bottom-width: 2px;
  }

  .sec-one {
    display: flex;
    width: 100vw;
    max-width: 600px;
    height: 500px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-items: center;
  }

  .sec-one-dv {
    width: 450px;
    height: 350px;
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #79797900;
  }

  .sec-one-dv h2 {
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 10px;
  }

  .sec-one-dv p {
    font-size: 1rem;
    width: 75%;
    padding-left: 10px;
    margin-bottom: 40px;
  }

  .sec-one-dv button {
    margin-left: 10%;
  }
  .btn-main {
    width: 300px;
    height: 50px;
    color: var(--t-white);
    font-size: 2rem;
    border-radius: 0px;
    border-style: none;
    background-color: #656b9b;
  }

  .btn-main:hover {
    transform: scale(1.1);
    background-color: blue;
  }

  .sec-two {
    width: 100vw;
    max-width: 600px;
    height: 1950px;
    background-color: #c9c9c9;
  }

  .sec-two h2 {
    font-size: 1.4rem;
    padding-top: 10px;
    padding-left: 10%;
    padding-bottom: 10px;
  }

  .d-grid {
    display: grid;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
  }

  .grid-item {
    width: 70%;
    height: 440px;
    padding-left: 10px;
    align-content: center;
    justify-content: center;
    background-color: var(--t-white);
    border-radius: 10px;
  }

  .img-grid {
    display: none;
  }

  .grid-item h3 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .grid-item p {
    font-size: 1.5rem;
    width: 250px;
  }

  .grid-item:hover {
    transform: scale(1.1) rotate(5deg);
    color: var(--t-white);
    background-color: #101c45;
    box-shadow: 2px 2px 4px 2px #b9baf1;
  }

  .sec-projects {
    width: 100vw;
    max-width: 600px;
    height: 500px;
    display: flex;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .sec-projects h4 {
    color: var(--t-white);
    font-size: 1.1rem;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .p-projt {
    width: 280px;
    height: 200px;
    align-items: center;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: rgba(196, 196, 196, 0);
  }

  .p-projt p {
    padding-left: 10px;
    font-size: 1rem;
    width: 95%;
  }

  .sec-contact {
    width: 100vw;
    max-width: 600px;
    height: 800px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .sec-contact h4 {
    font-size: 1.5rem;
    padding-top: 10px;
    margin-left: 10px;
  }

  .sec-contact p {
    font-size: 1rem;
    width: 60%;
    margin-left: 10px;
  }

  #bt {
    position: absolute;
    margin-left: 15%;
    margin-top: 20%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
  }

  .page-list {
    display: block;
    margin-top: 60%;
  }

  .page-list ul {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 40px;
  }

  .page-list li {
    list-style-type: none;
  }

  .page-list a {
    text-decoration: none;
    font-size: 1rem;
  }

  .social-list {
    display: none;
  }

  .sec-contact button {
    margin-left: 20%;
    margin-top: 20px;
  }

  .fter {
    width: 100vw;
    max-width: 600px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }


}
/* Dispositivos pequenos (tablets retratos e telefones grandes, 600px e superiores) */
@media only screen and (min-width: 600px) {
  .hed {
    width: 100%;
    max-width: 768px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--t-black);
    font-size: 1.3rem;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo h1{
    font-size: 1.2rem;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 100%;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--c-blue);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-black);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: #fff;
    border-width: 0;
    border-bottom-width: 2px;
  }

  .sec-one {
    display: flex;
    width: 100vw;
    max-width: 768px;
    height: 500px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-items: center;
  }

  .sec-one-dv {
    width: 450px;
    height: 350px;
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #79797900;
  }

  .sec-one-dv h2 {
    font-size: 1.6rem;
    padding-top: 5px;
    padding-left: 10px;
  }

  .sec-one-dv p {
    font-size: 1rem;
    width: 75%;
    padding-left: 10px;
    margin-bottom: 40px;
  }

  .sec-one-dv button {
    margin-left: 10%;
  }

  .btn-main {
    width: 300px;
    height: 50px;
    color: var(--t-white);
    font-size: 2rem;
    border-radius: 0px;
    border-style: none;
    background-color: #656b9b;
    cursor: pointer;
  }

  .btn-main:hover {
    transform: scale(1.1);
    background-color: blue;
  }

  .sec-two {
    width: 100vw;
    max-width: 768px;
    height: 1950px;
    background-color: #c9c9c9;
  }

  .sec-two h2 {
    font-size: 2.1rem;
    padding-top: 10px;
    padding-left: 10%;
    padding-bottom: 10px;
  }

  .d-grid {
    display: grid;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
  }

  .grid-item {
    width: 70%;
    height: 440px;
    padding-left: 10px;
    align-content: center;
    justify-content: center;
    background-color: var(--t-white);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .img-grid {
    padding-left: 35%;
    width: 100px;
    height: 100px;
  }

  .grid-item h3 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .grid-item p {
    font-size: 1.5rem;
    width: 90%;
    height: 250px;
  }

  .grid-item:hover {
    transform: scale(1.1) rotate(5deg);
    color: var(--t-white);
    background-color: #101c45;
    box-shadow: 2px 2px 4px 2px #b9baf1;
  }

  .sec-projects {
    width: 100vw;
    max-width: 768px;
    height: 400px;
    display: flex;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .sec-projects h4 {
    color: var(--t-white);
    font-size: 1.1rem;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .p-projt {
    width: 370px;
    height: 200px;
    align-items: center;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: rgba(196, 196, 196, 0);
  }

  .p-projt p {
    padding-left: 10px;
    font-size: 1rem;
    width: 95%;
  }

  .sec-contact {
    width: 100vw;
    max-width: 768px;
    height: 600px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .sec-contact h4 {
    font-size: 2rem;
    padding-top: 10px;
    margin-left: 10px;
  }

  .sec-contact p {
    font-size: 1rem;
    width: 60%;
    margin-left: 10px;
  }

  #bt {
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
  }

  .page-list {
    display: block;
    margin-top: 23%;
  }

  .page-list ul {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 40px;
  }

  .page-list li {
    list-style-type: none;
  }

  .page-list a {
    text-decoration: none;
    font-size: 1rem;
  }

  .social-list {
    display: block;
  }

  .social-list {
    position: absolute;
    margin-top: -11%;
    margin-left: 25%;
  }

  .social-list li {
    padding: 10px;
    display: inline;
  }

  .social-list a {
    text-decoration: none;
  }

  .sec-contact button {
    margin-left: 20%;
    margin-top: 20px;
  }

  .fter {
    width: 100vw;
    max-width: 768px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }



}
/* Dispositivos médios (tablets em paisagem, 768px e superiores) */
@media only screen and (min-width: 768px) {
  .hed {
    width: 100%;
    max-width: 992px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--t-black);
    font-size: 1.3rem;
    cursor: pointer;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo h1{
    font-size: 1.2rem;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 100%;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--c-blue);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-black);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: #fff;
    border-width: 0;
    border-bottom-width: 2px;
  }

  .sec-one {
    display: flex;
    width: 100vw;
    max-width: 992px;
    height: 400px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-items: center;
  }

  .sec-one-dv {
    width: 500px;
    height: 350px;
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #79797900;
  }

  .sec-one-dv h2 {
    font-size: 2rem;
    padding-top: 5px;
    padding-left: 10px;
  }

  .sec-one-dv p {
    font-size: 1.2rem;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 40px;
  }

  .sec-one-dv button {
    margin-left: 10%;
  }

  .btn-main {
    width: 300px;
    height: 50px;
    color: var(--t-white);
    font-size: 2rem;
    border-radius: 0px;
    border-style: none;
    background-color: #656b9b;
    cursor: pointer;
  }

  .btn-main:hover {
    transform: scale(1.1);
    background-color: blue;
  }

  .sec-two {
    width: 100vw;
    max-width: 992px;
    height: 1020px;
    background-color: #c9c9c9;
  }

  .sec-two h2 {
    font-size: 2.5rem;
    padding-top: 10px;
    padding-left: 10%;
    padding-bottom: 10px;
  }

  .d-grid {
    display: grid;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
  }
  
  .grid-item {
    width: 80%;
    height: 440px;
    padding-left: 10px;
    align-content: center;
    justify-content: center;
    background-color: var(--t-white);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .img-grid {
    padding-left: 34%;
    width: 100px;
    height: 100px;
  }

  .grid-item h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .grid-item p {
    font-size: 1.2rem;
    width: 90%;
    height: 250px;
  }

  .grid-item:hover {
    transform: scale(1.1) rotate(5deg);
    color: var(--t-white);
    background-color: #101c45;
    box-shadow: 2px 2px 4px 2px #b9baf1;
  }

  .sec-projects {
    width: 100vw;
    max-width: 992px;
    height: 400px;
    display: flex;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .sec-projects h4 {
    color: var(--t-white);
    font-size: 1.4rem;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .p-projt {
    width: 450px;
    height: 200px;
    align-items: center;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: rgba(196, 196, 196, 0);
  }

  .p-projt p {
    padding-left: 10px;
    font-size: 1rem;
    width: 95%;
  }
  
  .sec-contact {
    width: 100vw;
    max-width: 992px;
    height: 600px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .sec-contact h4 {
    font-size: 2rem;
    padding-top: 10px;
    margin-left: 10px;
  }

  .sec-contact p {
    font-size: 1rem;
    width: 60%;
    margin-left: 10px;
  }

  #bt {
    position: absolute;
    margin-left: 30%;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
  }

  .page-list {
    display: block;
    margin-top: 23%;
  }

  .page-list ul {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 40px;
  }

  .page-list li {
    list-style-type: none;
  }

  .page-list a {
    text-decoration: none;
    font-size: 1rem;
  }

  .social-list {
    display: block;
  }

  .social-list {
    position: absolute;
    margin-top: -5%;
    margin-left: 25%;
  }

  .social-list li {
    padding: 10px;
    display: inline;
  }

  .social-list a {
    text-decoration: none;
  }

  .sec-contact button {
    margin-left: 20%;
    margin-top: 20px;
  }

  .fter {
    width: 100vw;
    max-width: 992px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }



}
/* Dispositivos grandes (laptops/desktops, 992px e superiores) */
@media only screen and (min-width: 992px) {
  .hed {
    width: 100%;
    max-width: 1200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--t-black);
    font-size: 1.3rem;
    cursor: pointer;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo h1{
    font-size: 1.2rem;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 100%;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--c-blue);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-black);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: #fff;
    border-width: 0;
    border-bottom-width: 2px;
  }

  .sec-one {
    display: flex;
    width: 100vw;
    max-width: 1200px;
    height: 400px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-items: center;
  }

  .sec-one-dv {
    width: 600px;
    height: 350px;
    margin-left: 30px;
    box-sizing: border-box;
    background-color: #79797900;
  }

  .sec-one-dv h2 {
    font-size: 2rem;
    padding-top: 5px;
    padding-left: 10px;
  }

  .sec-one-dv p {
    font-size: 1.2rem;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 40px;
  }

  .sec-one-dv button {
    margin-left: 10%;
  }

  .btn-main {
    width: 300px;
    height: 50px;
    color: var(--t-white);
    font-size: 2rem;
    border-radius: 0px;
    border-style: none;
    background-color: #656b9b;
    cursor: pointer;
  }

  .btn-main:hover {
    transform: scale(1.1);
    background-color: blue;
  }

  .sec-two {
    width: 100vw;
    max-width: 1200px;
    height: 1020px;
    background-color: #c9c9c9;
  }

  .sec-two h2 {
    font-size: 3rem;
    padding-top: 10px;
    padding-left: 15%;
    padding-bottom: 10px;
  }

  .d-grid {
    display: grid;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
  }
  
  .grid-item {
    width: 80%;
    height: 440px;
    padding-left: 10px;
    align-content: center;
    justify-content: center;
    background-color: var(--t-white);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .img-grid {
    padding-left: 40%;
    width: 100px;
    height: 100px;
  }

  .grid-item h3 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .grid-item p {
    font-size: 1.7rem;
    width: 90%;
    height: 250px;
  }

  .grid-item:hover {
    transform: scale(1.1) rotate(5deg);
    color: var(--t-white);
    background-color: #101c45;
    box-shadow: 2px 2px 4px 2px #b9baf1;
  }

  .sec-projects {
    width: 100vw;
    max-width: 1200px;
    height: 550px;
    display: flex;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .sec-projects h4 {
    color: var(--t-white);
    font-size: 2rem;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .p-projt {
    width: 500px;
    height: 400px;
    align-items: center;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: rgba(196, 196, 196, 0);
  }

  .p-projt p {
    padding-left: 10px;
    font-size: 1.5rem;
    width: 95%;
  }
  
  .sec-contact {
    width: 100vw;
    max-width: 1200px;
    height: 600px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .sec-contact h4 {
    font-size: 2.3rem;
    padding-top: 10px;
    margin-left: 10px;
  }

  .sec-contact p {
    font-size: 1rem;
    width: 60%;
    margin-left: 10px;
  }

  #bt {
    position: absolute;
    margin-left: 33%;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
  }

  .page-list {
    display: block;
    margin-top: 20%;
  }

  .page-list ul {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 40px;
  }

  .page-list li {
    list-style-type: none;
  }

  .page-list a {
    text-decoration: none;
    font-size: 1.2rem;
  }

  .social-list {
    display: block;
  }

  .social-list {
    position: absolute;
    margin-top: -5%;
    margin-left: 30%;
  }

  .social-list li {
    padding: 10px;
    display: inline;
  }

  .social-list a {
    text-decoration: none;
  }

  .sec-contact button {
    margin-left: 20%;
    margin-top: 20px;
  }

  .fter {
    width: 100vw;
    max-width: 1200px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }




}
/* Dispositivos extragrandes (laptops e desktops grandes, 1200px e superiores) */
@media only screen and (min-width: 1200px) {
  .hed {
    width: 100%;
    max-width: 1366px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--t-black);
    font-size: 1.3rem;
    cursor: pointer;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo h1{
    font-size: 1.2rem;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 100%;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--c-blue);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-black);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: #fff;
    border-width: 0;
    border-bottom-width: 2px;
  }

  .sec-one {
    display: flex;
    width: 100vw;
    max-width: 1366px;
    height: 600px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: row;
        align-items: center;
  }

  .sec-one-dv {
    width: 600px;
    height: 350px;
    margin-left: 30px;
    box-sizing: border-box;
    background-color: #79797900;
  }

  .sec-one-dv h2 {
    font-size: 2.5rem;
    padding-top: 5px;
    padding-left: 10px;
  }

  .sec-one-dv p {
    font-size: 1.5rem;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 50px;
  }

  .sec-one-dv button {
    margin-left: 10%;
  }

  .btn-main {
    width: 300px;
    height: 50px;
    color: var(--t-white);
    font-size: 2rem;
    border-radius: 0px;
    border-style: none;
    background-color: #656b9b;
    cursor: pointer;
  }

  .btn-main:hover {
    transform: scale(1.1);
    background-color: blue;
  }

  .sec-two {
    width: 100vw;
    max-width: 1366px;
    height: 600px;
    background-color: #c9c9c9;
  }

  .sec-two h2 {
    font-size: 3rem;
    padding-top: 10px;
    padding-left: 20%;
    padding-bottom: 10px;
  }

  .d-grid {
    display: grid;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
  }
  
  .grid-item {
    width: 90%;
    height: 440px;
    padding-left: 2px;
    align-content: center;
    justify-content: center;
    background-color: var(--t-white);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .img-grid {
    padding-left: 35%;
    width: 100px;
    height: 100px;
  }

  .grid-item h3 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
  }

  .grid-item p {
    font-size: 1.2rem;
    width: 90%;
    height: 250px;
    padding-left: 10px;
  }

  .grid-item:hover {
    transform: scale(1.1) rotate(5deg);
    color: var(--t-white);
    background-color: #101c45;
    box-shadow: 2px 2px 4px 2px #b9baf1;
  }

.sec-projects {
    width: 100vw;
    max-width: 1366px;
    height: 550px;
    display: flex;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .sec-projects h4 {
    color: var(--t-white);
    font-size: 2.3rem;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .p-projt {
    width: 600px;
    height: 400px;
    align-items: center;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: rgba(196, 196, 196, 0);
  }

  .p-projt p {
    font-size: 1.8rem;
    padding-left: 10px;
    width: 95%;
  }

  .sec-contact {
    width: 100vw;
    max-width: 1366px;
    height: 600px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .sec-contact h4 {
    font-size: 3rem;
    padding-top: 10px;
    margin-left: 10px;
  }

  .sec-contact p {
    font-size: 1.2rem;
    width: 60%;
    margin-left: 10px;
  }

  #bt {
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
  }

  .page-list {
    display: block;
    margin-top: 13%;
  }

  .page-list ul {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 10px;
  }

  .page-list li {
    list-style-type: none;
  }

  .page-list a {
    text-decoration: none;
    font-size: 1.2rem;
  }

  .social-list {
    display: block;
  }

  .social-list {
    position: absolute;
    margin-top: -3%;
    margin-left: 37%;
  }

  .social-list li {
    padding: 10px;
    display: inline;
  }

  .social-list a {
    text-decoration: none;
  }

  .sec-contact button {
    margin-left: 20%;
    margin-top: 20px;
  }

  .fter {
    width: 100vw;
    max-width: 1366px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }

  
}
