@media only screen and (max-width: 600px){
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 600px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .hed {
    width: 100vw;
    max-width: 600px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 0.6rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }

  .sec {
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://kreivesler.github.io/Pagina-inicial/Login/img/fundoWEB4.png');
    background-position: center;
    background-size: cover;
  }

  .d-form {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    background-color: rgba(12, 12, 12, 0.481);
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .d-form h2 {
    font-size: 1.2rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form p {
    font-size: 0.9rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form form {
    width: 280px;
    height: 180px;
    padding-left: 10px;
    align-content: center;
    background-color: #ffee0000;
  }

  .d-form label {
    font-size: 1.2rem;
    color: var(--t-white);
  }

  .btn {
    width: 180px;
    height: 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .fter {
    width: 100vw;
    max-width: 600px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }
}

@media only screen and (min-width: 600px){
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 768px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .hed {
    width: 100vw;
    max-width: 768px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }

  .sec {
    width: 100vw;
    max-width: 768px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://kreivesler.github.io/Pagina-inicial/Login/img/fundoWEB4.png');
    background-position: center;
    background-size: cover;
  }

  .d-form {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    padding-top: 10px;
    background-color: rgba(12, 12, 12, 0.481);
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .d-form h2 {
    font-size: 1.5rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form p {
    font-size: 1.2rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form form {
    width: 90%;
    height: 200px;
    padding-left: 10px;
    align-content: center;
    background-color: #ffee0000;
  }

  .d-form label {
    font-size: 1.2rem;
    color: var(--t-white);
  }

  .btn {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .fter {
    width: 100vw;
    max-width: 768px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }
}

@media only screen and (min-width: 768px){
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 992px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .hed {
    width: 100vw;
    max-width: 992px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }

  .sec {
    width: 100vw;
    max-width: 992px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://kreivesler.github.io/Pagina-inicial/Login/img/fundoWEB4.png');
    background-position: center;
    background-size: cover;
  }

  .d-form {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-top: 10px;
    background-color: rgba(12, 12, 12, 0.481);
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .d-form h2 {
    font-size: 1.8rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form p {
    font-size: 1.5rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form form {
    width: 90%;
    height: 250px;
    padding-left: 10px;
    align-content: center;
    background-color: #ffee0000;
  }

  .d-form label {
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .btn {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .fter {
    width: 100vw;
    max-width: 992px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }
}

@media only screen and (min-width: 992px){
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 1200px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .hed {
    width: 100vw;
    max-width: 1200px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }

  .sec {
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://kreivesler.github.io/Pagina-inicial/Login/img/fundoWEB4.png');
    background-position: center;
    background-size: cover;
  }

  .d-form {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-top: 10px;
    background-color: rgba(12, 12, 12, 0.481);
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .d-form h2 {
    font-size: 1.8rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form p {
    font-size: 1.5rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form form {
    width: 90%;
    height: 250px;
    padding-left: 10px;
    align-content: center;
    background-color: #ffee0000;
  }

  .d-form label {
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .btn {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .fter {
    width: 100vw;
    max-width: 1200px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }
}

@media only screen and (min-width: 1200px){
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 1366px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .hed {
    width: 100vw;
    max-width: 1366px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }

  .sec {
    width: 100vw;
    max-width: 1366px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://kreivesler.github.io/Pagina-inicial/Login/img/fundoWEB4.png');
    background-position: center;
    background-size: cover;
  }

  .d-form {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-top: 10px;
    background-color: rgba(12, 12, 12, 0.481);
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .d-form h2 {
    font-size: 1.8rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form p {
    font-size: 1.5rem;
    width: 95%;
    color: var(--t-white);
  }

  .d-form form {
    width: 90%;
    height: 250px;
    padding-left: 10px;
    align-content: center;
    background-color: #ffee0000;
  }

  .d-form label {
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .btn {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .fter {
    width: 100vw;
    max-width: 1366px;
    height: 50px;
    align-content: center;
    text-align: center;
    color: var(--t-white);
    background-color: var(--t-black);
  }
}
