:root {
  --c-red: #d60d0c;
  --c-red1: #c10a09;
  --c-red2:#ac0706;
  --t-white: #fff;
  --t-black: #000;
}
.c-red{
  color: var(--c-red);
}
.c-red1{
  color: var(--c-red1);
}
.c-red2{
  color: var(--c-red2);
}
.t-w{
  color: var(--t-white);
}
.t-b{
  color: var(--t-black);
}
.m-bg {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.m-lt {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.m-nm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.arcticons--hamburger-menu {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='M5.5 24h37m-37 13h37m-37-26h37'/%3E%3C/svg%3E");
}
h1, h2, h3, h4, h5, p, a{
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .hed {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.3rem;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 350px;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--t-black);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-white);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .sec{
    width: 100%;
    height: 280px;
    background-color: rgba(4, 255, 171, 0.014);
  }
  .ca{
    width: 100%;
    height: 100%;
    background-color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ca img{
    width: 100%;
    height: 100%;
  }
  .dl{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: var(--c-red2);
  }
  .dl ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }
  .dl li{
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--t-white);
  }
  .dl li:hover{
    transform: scale(1.1);
  }
  .d-of{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .d-of h2{
    font-size: 1.7rem;
    width: 100%;
    padding-top: 5px;
  }
  .d-of p {
    font-size: 1.2rem;
    width: 100%;
  }
  .btn{
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
    margin-top: 40px;
    background-color: var(--c-red);
    border-style: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .btn:hover{
    transform: scale(1.1);
  }
  .sec1{
    width: 100%;
    height: 1150px;
    background-color: var(--t-white);
  }
  .btn2{
    margin: 0;
    margin-top: 10px;
  }
  .sec-1{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }
  .sec-1 h3 {
    font-size: 1.7rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .sec-1 p{
    width: 95%;
    font-size: 1.2rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .d-grid{
    width: 100%;
    height: 900px;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .g-ob{
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-color: var(--c-red1);
  }
  .g-ob img{
    width: 300px;
    height: 300px;
    margin-top: 10%;
    margin-left: 20%;
    position: absolute;
  }
  .g-ob2 img{
    width: 300px;
    height: 300px;
    margin-top: 10%;
    margin-left: 20%;
    position: absolute;
  }
  .g-ob3 img{
    width: 300px;
    height: 300px;
    margin-top: 10%;
    margin-left: 20%;
    position: absolute;
  }
  .g-ob h3{
    margin-left: 10px;
    font-size: 3rem;
    text-align: center;
    color: var(--t-white);
  }
  .g-ob p{
    margin-left: 10px;
    font-size: 1.2rem;
    color: var(--t-white);
  }

  .dl2{
    width: 100%;
    height: 100px;
  }
  .dl2 img{
    width: 100%;
    height: 100%;
  }
  .sec-s{
    width: 100%;
    height: 1200px;
  }
  .serv{
    width: 100%;
    height: 1200px;
    text-align: center;
  }
  .serv h3{
    font-size: 1.7rem;
  }
  .d-grid1{
    width: 100%;
    height: 1100px;
    background-color: none;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .g-obj{
    width: 60%;
    height: 250px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: var(--c-red);
    box-sizing: border-box;
  }
  .g-obj h4{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
  }
  .g-obj p{
    font-size: 1.2rem;
    width: 95%;
    margin: 0;
  }
  .g-obj:hover{
    transform: scale(1.1);
  }
  .sec-c{
    width: 100%;
    height: 300px;
  }
  .contact{
    width: 100%;
    height: 100%;
    background-color: var(--c-red2);
  }
  .contact h5{
    font-size: 1.7rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact p{
    font-size: 1.2rem;
    padding-left: 10px;
    margin: 0;
  }
  .d-form{
    display: none;
  }
  .btn3{
    margin: 0;
    margin-left: 25%;
    background-color: #fff;
    color: #000;
  }
  .btn3:hover{
    transform: scale(1.1);
  }
  .rdp{
    width: 100%;
    height: 100px;
    background-color: #000;
  }
  .rdp h5{
    font-size: 1.2rem;
    margin: 0;
    padding-left: 10px;
    color: var(--t-white);
  }
  .rdp ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .rdp li{
    list-style: none;
    margin-right: 10px;
    color: var(--t-white);
  }
  .rdp li:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .entypo-social--facebook {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  }
  .ri--instagram-fill {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a79 79 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465l-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78 78 0 0 1-2.189-.023l-.194-.006a63 63 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.9 4.9 0 0 1-1.771-1.153a4.9 4.9 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428l-.03-.712l-.005-.194A79 79 0 0 1 2 13.028v-2.056a79 79 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.9 4.9 0 0 1 3.68 3.678a4.9 4.9 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  }
  .pajamas--twitter {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z'/%3E%3C/svg%3E");
  }
  .fter{
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
}
@media only screen and (min-width: 600px){
  .hed {
    width: 100%;
    max-width: 768px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.3rem;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 350px;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--t-black);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-white);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .sec{
    width: 100%;
    max-width: 768px;
    height: 400px;
    background-color: rgba(4, 255, 171, 0.014);
  }
  .ca{
    width: 100%;
    height: 100%;
    background-color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ca img{
    width: 100%;
    height: 100%;
  }
  .dl{
    width: 100%;
    max-width: 768px;
    height: 50px;
    text-align: center;
    background-color: var(--c-red2);
  }
  .dl ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }
  .dl li{
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--t-white);
  }
  .dl li:hover{
    transform: scale(1.1);
  }
  .d-of{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .d-of h2{
    font-size: 2rem;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  .d-of p {
    font-size: 1.5rem;
    width: 100%;
  }
  .btn{
    width: 400px;
    height: 50px;
    font-size: 1.8rem;
    margin-top: 40px;
    background-color: var(--c-red);
    border-style: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .btn:hover{
    transform: scale(1.1);
  }
  .sec1{
    width: 100%;
    max-width: 768px;
    height: 1150px;
    background-color: var(--t-white);
  }
  .btn2{
    margin: 0;
    margin-top: 10px;
  }
  .sec-1{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
  }
  .sec-1 h3 {
    font-size: 2rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .sec-1 p{
    width: 95%;
    font-size: 1.5rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .d-grid{
    width: 100%;
    height: 900px;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .g-ob{
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-color: var(--c-red1);
  }
  .g-ob img{
    width: 350px;
    height: 350px;
    margin-top: 4%;
    margin-left: 5%;
    position: absolute;
  }
  .g-ob2 img{
    width: 350px;
    height: 350px;
    margin-top: 4%;
    margin-left: 5%;
    position: absolute;
  }
  .g-ob3 img{
    width: 300px;
    height: 300px;
    margin-top: 8%;
    margin-left: 15%;
    position: absolute;
  }
  .g-ob h3{
    margin-left: 10px;
    font-size: 3rem;
    text-align: center;
    color: var(--t-white);
  }
  .g-ob p{
    margin-left: 10px;
    font-size: 1.2rem;
    color: var(--t-white);
  }

  .dl2{
    width: 100%;
    max-width: 768px;
    height: 150px;
  }
  .dl2 img{
    width: 100%;
    height: 100%;
  }
  .sec-s{
    width: 100%;
    max-width: 768px;
    height: 1200px;
  }
  .serv{
    width: 100%;
    height: 1200px;
    text-align: center;
  }
  .serv h3{
    font-size: 2.5rem;
  }
  .d-grid1{
    width: 100%;
    height: 1100px;
    background-color: none;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .g-obj{
    width: 60%;
    height: 250px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: var(--c-red);
    box-sizing: border-box;
  }
  .g-obj h4{
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 10px;
  }
  .g-obj p{
    font-size: 1.4rem;
    width: 95%;
    margin: 0;
  }
  .g-obj:hover{
    transform: scale(1.1);
  }
  .sec-c{
    width: 100%;
    max-width: 768px;
    height: 400px;
  }
  .contact{
    width: 100%;
    height: 100%;
    background-color: var(--c-red2);
  }
  .contact h5{
    font-size: 2rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact p{
    font-size: 1.5rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact li{
    font-size: 1.2rem;
  }
  .d-form{
    display: none;
  }
  .btn3{
    margin: 0;
    margin-top: 5%;
    margin-left: 25%;
    background-color: #fff;
    color: #000;
  }
  .btn3:hover{
    transform: scale(1.1);
  }
  .rdp{
    width: 100%;
    max-width: 768px;
    height: 100px;
    background-color: #000;
  }
  .rdp h5{
    font-size: 1.7rem;
    margin: 0;
    padding-left: 10px;
    color: var(--t-white);
  }
  .rdp ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .rdp li{
    list-style: none;
    margin-right: 10px;
    color: var(--t-white);
  }
  .rdp li:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .entypo-social--facebook {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  }
  .ri--instagram-fill {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a79 79 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465l-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78 78 0 0 1-2.189-.023l-.194-.006a63 63 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.9 4.9 0 0 1-1.771-1.153a4.9 4.9 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428l-.03-.712l-.005-.194A79 79 0 0 1 2 13.028v-2.056a79 79 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.9 4.9 0 0 1 3.68 3.678a4.9 4.9 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  }
  .pajamas--twitter {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z'/%3E%3C/svg%3E");
  }
  .fter{
    width: 100%;
    max-width: 768px;
    height: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
}
@media only screen and (min-width: 768px) {
  .hed {
    width: 100%;
    max-width: 992px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.3rem;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 350px;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--t-black);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-white);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .sec{
    width: 100%;
    max-width: 992px;
    height: 400px;
    background-color: rgba(4, 255, 171, 0.014);
  }
  .ca{
    width: 100%;
    height: 100%;
    background-color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ca img{
    width: 100%;
    height: 100%;
  }
  .dl{
    width: 100%;
    max-width: 992px;
    height: 50px;
    text-align: center;
    background-color: var(--c-red2);
  }
  .dl ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }
  .dl li{
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--t-white);
  }
  .dl li:hover{
    transform: scale(1.1);
  }
  .d-of{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .d-of h2{
    font-size: 2.5rem;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  .d-of p {
    font-size: 1.7rem;
    width: 100%;
  }
  .btn{
    width: 400px;
    height: 50px;
    font-size: 1.8rem;
    margin-top: 40px;
    background-color: var(--c-red);
    border-style: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .btn:hover{
    transform: scale(1.1);
  }
  .sec1{
    width: 100%;
    max-width: 992px;
    display: flex;
    height: 850px;
    background-color: var(--t-white);
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .btn2{
    margin: 0;
    margin-top: 10px;
  }
  .sec-1{
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
  }
  .sec-1 h3 {
    font-size: 2.5rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .sec-1 p{
    width: 95%;
    font-size: 1.7rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .d-grid{
    width: 100%;
    height: 600px;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .g-ob{
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-color: var(--c-red1);
  }
  .g-ob img{
    width: 350px;
    height: 350px;
    margin-top: 4%;
    margin-left: 5%;
    position: absolute;
  }
  .g-ob2 img{
    width: 350px;
    height: 350px;
    margin-top: 4%;
    margin-left: 5%;
    position: absolute;
  }
  .g-ob3 img{
    width: 300px;
    height: 300px;
    margin-top: 8%;
    margin-left: 15%;
    position: absolute;
  }
  .g-ob h3{
    margin-left: 10px;
    font-size: 3rem;
    text-align: center;
    color: var(--t-white);
  }
  .g-ob p{
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--t-white);
  }

  .dl2{
    width: 100%;
    max-width: 992px;
    height: 200px;
  }
  .dl2 img{
    width: 100%;
    height: 100%;
  }
  .sec-s{
    width: 100%;
    max-width: 992px;
    height: 1200px;
  }
  .serv{
    width: 100%;
    height: 1200px;
    text-align: center;
  }
  .serv h3{
    font-size: 2.5rem;
  }
  .d-grid1{
    width: 100%;
    height: 1100px;
    background-color: none;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .g-obj{
    width: 60%;
    height: 250px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: var(--c-red);
    box-sizing: border-box;
  }
  .g-obj h4{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 10px;
  }
  .g-obj p{
    font-size: 1.6rem;
    width: 95%;
    margin: 0;
  }
  .g-obj:hover{
    transform: scale(1.1);
  }
  .sec-c{
    width: 100%;
    max-width: 992px;
    height: 400px;
  }
  .contact{
    width: 100%;
    height: 100%;
    background-color: var(--c-red2);
  }
  .contact h5{
    font-size: 2.5rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact p{
    font-size: 1.7rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact li{
    font-size: 1.5rem;
  }
  .d-form{
    display: none;
  }
  .btn3{
    margin: 0;
    margin-top: 2%;
    margin-left: 30%;
    background-color: #fff;
    color: #000;
  }
  .btn3:hover{
    transform: scale(1.1);
  }
  .rdp{
    width: 100%;
    max-width: 992px;
    height: 100px;
    background-color: #000;
  }
  .rdp h5{
    font-size: 1.7rem;
    margin: 0;
    padding-left: 10px;
    color: var(--t-white);
  }
  .rdp ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .rdp li{
    list-style: none;
    margin-right: 10px;
    color: var(--t-white);
  }
  .rdp li:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .entypo-social--facebook {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  }
  .ri--instagram-fill {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a79 79 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465l-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78 78 0 0 1-2.189-.023l-.194-.006a63 63 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.9 4.9 0 0 1-1.771-1.153a4.9 4.9 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428l-.03-.712l-.005-.194A79 79 0 0 1 2 13.028v-2.056a79 79 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.9 4.9 0 0 1 3.68 3.678a4.9 4.9 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  }
  .pajamas--twitter {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z'/%3E%3C/svg%3E");
  }
  .fter{
    width: 100%;
    max-width: 992px;
    height: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
}
@media only screen and (min-width: 992px) {
  .hed {
    width: 100%;
    max-width: 1200px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 350px;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--t-black);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-white);
  }
  #sb-m a:hover{
    cursor: pointer;
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .sec{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    background-color: rgba(4, 255, 171, 0.014);
  }
  .sec01{
    width: 100%;
    max-width: 1200px;
    height: 400px;
  }
  .ca{
    width: 100%;
    height: 100%;
    background-color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ca img{
    width: 100%;
    height: 100%;
  }
  .dl{
    width: 100%;
    max-width: 1200px;
    height: 50px;
    text-align: center;
    background-color: var(--c-red2);
  }
  .dl ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }
  .dl li{
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--t-white);
  }
  .dl li:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  .d-of{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .d-of h2{
    font-size: 2.5rem;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  .d-of p {
    font-size: 1.7rem;
    width: 100%;
  }
  .btn{
    width: 400px;
    height: 50px;
    font-size: 1.8rem;
    margin-top: 40px;
    background-color: var(--c-red);
    border-style: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  .sec1{
    width: 100%;
    max-width: 1200px;
    display: flex;
    height: 850px;
    background-color: #02020200;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .btn2{
    margin: 0;
    margin-top: 20%;
    margin-left: 20%;
  }
  .sec-1{
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
  }
  .sec-1 h3 {
    font-size: 2.5rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .sec-1 p{
    width: 95%;
    font-size: 1.7rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .d-grid {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
  }

  .g-ob {
    width: 320px;
    height: 400px;
    box-sizing: border-box;
    background-color: var(--c-red1);
  }
  .g-ob img{
    width: 300px;
    height: 300px;
    transform: scale(1.2);
    margin-top: 10%;
    margin-left: 2%;
    position: absolute;
  }
  .g-ob2 img{
    width: 300px;
    height: 300px;
    transform: scale(1.2);
    margin-top: 10%;
    margin-left: 2%;
    position: absolute;
  }
  .g-ob3 img{
    width: 300px;
    height: 300px;
    transform: scale(1.1);
    margin-top: 10%;
    margin-left: 1%;
    position: absolute;
  }
  .g-ob h3{
    margin-left: 10px;
    font-size: 3rem;
    text-align: center;
    color: var(--t-white);
  }
  .g-ob p{
    padding-left: 5px;
    font-size: 1.4rem;
    color: var(--t-white);
  }

  .dl2{
    width: 100%;
    max-width: 1200px;
    height: 200px;
  }
  .dl2 img{
    width: 100%;
    height: 100%;
  }
  .sec-s{
    width: 100%;
    max-width: 1200px;
    height: 500px;
  }
  .serv{
    width: 100%;
    height: 500px;
    text-align: center;
  }
  .serv h3{
    font-size: 3rem;
    margin-top: 10px;
  }
  .d-grid1{
    width: 100%;
    height: 500px;
    background-color: none;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
  }
  .g-obj{
    width: 270px;
    height: 250px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: var(--c-red);
    box-sizing: border-box;
  }
  .g-obj h4{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
  }
  .g-obj p{
    font-size: 1.1rem;
    width: 95%;
    margin: 0;
  }
  .g-obj:hover{
    transform: scale(1.1);
  }
  .sec-c{
    width: 100%;
    max-width: 1200px;
    height: 600px;
  }
  .contact{
    width: 100%;
    height: 100%;
    background-color: var(--c-red2);
  }
  .contact h5{
    font-size: 2.5rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact p{
    font-size: 1.7rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact li{
    font-size: 1.5rem;
  }
  .btn3{
    margin: 0;
    margin-top: 15%;
    margin-left: 10%;
    background-color: #fff;
    color: #000;
  }
  .btn3:hover{
    transform: scale(1.1);
  }
  .d-form{
    width: 500px;
    height: 400px;
    display: block;
    background-color: #00000000;
    position: absolute;
    margin-top: -25%;
    margin-left: 50%;
  }
  .d-form input{
    width: 450px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    background-color: #dfdfdf;
    border-style: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .d-form textarea{
    width: 450px;
    font-size: 1.2rem;
    background-color: #dfdfdf;
    border-style: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .d-form button{
    width: 300px;
    height: 30px;
    margin-top: 5px;
    font-size: 1.2rem;
    border-style: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .d-form button:hover{
    transform: scale(1.1);
  }
  .rdp{
    width: 100%;
    max-width: 1200px;
    height: 200px;
    background-color: #000;
  }
  .rdp h5{
    font-size: 1.7rem;
    margin: 0;
    padding-left: 10px;
    color: var(--t-white);
  }
  .rdp ul{
    display: block;
  }
  .rdp li{
    width: 150px;
    list-style: none;
    margin-right: 10px;
    color: var(--t-white);
  }
  .rdp li:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .entypo-social--facebook {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  }
  .ri--instagram-fill {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a79 79 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465l-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78 78 0 0 1-2.189-.023l-.194-.006a63 63 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.9 4.9 0 0 1-1.771-1.153a4.9 4.9 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428l-.03-.712l-.005-.194A79 79 0 0 1 2 13.028v-2.056a79 79 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.9 4.9 0 0 1 3.68 3.678a4.9 4.9 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  }
  .pajamas--twitter {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z'/%3E%3C/svg%3E");
  }
  .fter{
    width: 100%;
    max-width: 1200px;
    height: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
}
@media only screen and (min-width: 1200px){
  .hed {
    width: 100%;
    max-width: 1366px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu{
    border-style: none;
    border-color: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }
  #logo{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  #logo img{
    width: 50px;
    height: 50px;
  }
  #sb-m{
    width: 350px;
    height: 250px;
    display: none;
    position: absolute;
    background-color: var(--t-black);
    cursor: pointer;
  }
  #sb-m ul{
    padding-left: 15px;
    margin: 0;
  }
  #sb-m li{
    list-style: none;
  }
  #sb-m a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--t-white);
  }
  #sb-m a:hover{
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .sec{
    width: 100%;
    max-width: 1366px;
    height: 550px;
    background-color: rgba(4, 255, 171, 0.014);
  }
  .sec01{
    width: 100%;
    max-width: 1366px;
    height: 400px;
  }
  .ca{
    width: 100%;
    height: 100%;
    background-color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ca img{
    width: 100%;
    height: 100%;
  }
  .dl{
    width: 100%;
    max-width: 1366px;
    height: 50px;
    text-align: center;
    background-color: var(--c-red2);
  }
  .dl ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }
  .dl li{
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--t-white);
  }
  .dl li:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .d-of{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .d-of h2{
    font-size: 2.5rem;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  .d-of p {
    font-size: 1.7rem;
    width: 100%;
  }
  .btn{
    width: 400px;
    height: 50px;
    font-size: 1.8rem;
    margin-top: 40px;
    cursor: pointer;
    background-color: var(--c-red);
    border-style: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .btn:hover{
    transform: scale(1.1);
  }
  .sec1{
    width: 100%;
    max-width: 1366px;
    display: flex;
    height: 850px;
    background-color: #02020200;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .btn2{
    margin: 0;
    margin-top: 20%;
    margin-left: 20%;
  }
  .sec-1{
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
  }
  .sec-1 h3 {
    font-size: 2.5rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .sec-1 p{
    width: 95%;
    font-size: 1.7rem;
    margin-left: 10px;
    color: var(--t-black);
  }
  .d-grid{
    width: 100%;
    height: 600px;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(3,2fr);
    gap: 10px;
  }
  .g-ob{
    width: 320px;
    height: 400px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--c-red1);
  }
  .g-ob img{
    width: 300px;
    height: 300px;
    transform: scale(1.2);
    margin-top: 10%;
    margin-left: 2%;
    position: absolute;
  }
  .g-ob2 img{
    width: 300px;
    height: 300px;
    transform: scale(1.2);
    margin-top: 10%;
    margin-left: 2%;
    position: absolute;
  }
  .g-ob3 img{
    width: 300px;
    height: 300px;
    transform: scale(1.1);
    margin-top: 10%;
    margin-left: 1%;
    position: absolute;
  }
  .g-ob h3{
    margin-left: 10px;
    font-size: 3rem;
    text-align: center;
    color: var(--t-white);
  }
  .g-ob p{
    padding-left: 5px;
    font-size: 1.4rem;
    color: var(--t-white);
  }

  .dl2{
    width: 100%;
    max-width: 1366px;
    height: 200px;
  }
  .dl2 img{
    width: 100%;
    height: 100%;
  }
  .sec-s{
    width: 100%;
    max-width: 1366px;
    height: 500px;
  }
  .serv{
    width: 100%;
    height: 500px;
    text-align: center;
  }
  .serv h3{
    font-size: 3rem;
    margin-top: 10px;
  }
  .d-grid1{
    width: 100%;
    height: 500px;
    background-color: none;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
  }
  .g-obj{
    width: 270px;
    height: 250px;
    cursor: pointer;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: var(--c-red);
    box-sizing: border-box;
  }
  .g-obj h4{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
  }
  .g-obj p{
    font-size: 1.1rem;
    width: 95%;
    margin: 0;
  }
  .g-obj:hover{
    transform: scale(1.1);
  }
  .sec-c{
    width: 100%;
    max-width: 1366px;
    height: 600px;
  }
  .contact{
    width: 100%;
    height: 100%;
    background-color: var(--c-red2);
  }
  .contact h5{
    font-size: 2.5rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact p{
    font-size: 1.7rem;
    padding-left: 10px;
    margin: 0;
  }
  .contact li{
    font-size: 1.5rem;
  }
  .btn3{
    margin: 0;
    margin-top: 15%;
    margin-left: 10%;
    background-color: #fff;
    color: #000;
  }
  .btn3:hover{
    transform: scale(1.1);
  }
  .d-form{
    width: 500px;
    height: 400px;
    display: block;
    background-color: #00000000;
    position: absolute;
    margin-top: -25%;
    margin-left: 45%;
  }
  .d-form input{
    width: 450px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    background-color: #dfdfdf;
    border-style: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .d-form textarea{
    width: 450px;
    font-size: 1.2rem;
    background-color: #dfdfdf;
    border-style: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .d-form button{
    width: 300px;
    height: 30px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1.2rem;
    border-style: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .d-form button:hover{
    transform: scale(1.1);
  }
  .rdp{
    width: 100%;
    max-width: 1366px;
    height: 200px;
    background-color: #000;
  }
  .rdp h5{
    font-size: 1.7rem;
    margin: 0;
    padding-left: 10px;
    color: var(--t-white);
  }
  .rdp ul{
    display: block;
  }
  .rdp li{
    width: 150px;
    list-style: none;
    margin-right: 10px;
    color: var(--t-white);
  }
  .rdp li:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-style: solid;
    border-color: var(--c-red);
    border-width: 0;
    border-bottom-width: 2px;
  }
  .entypo-social--facebook {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  }
  .ri--instagram-fill {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a79 79 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465l-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78 78 0 0 1-2.189-.023l-.194-.006a63 63 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.9 4.9 0 0 1-1.771-1.153a4.9 4.9 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428l-.03-.712l-.005-.194A79 79 0 0 1 2 13.028v-2.056a79 79 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.9 4.9 0 0 1 3.68 3.678a4.9 4.9 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  }
  .pajamas--twitter {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z'/%3E%3C/svg%3E");
  }
  .fter{
    width: 100%;
    max-width: 1366px;
    height: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
}
