/* Dispositivos extra pequenos (telefones, 600px e inferiores) */
@media only screen and (max-width: 600px) {
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 600px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
    --t-green: rgb(5, 199, 5);
    --t-red: red;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .t-green {
    color: var(--t-green);
  }

  .t-red {
    color: var(--t-red);
  }

  .hed {
    width: 100vw;
    max-width: 600px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 0.6rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }


  .sec {
    width: 100vw;
    max-width: 600px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB1.png");
    background-size: cover;
    background-position: center;
  }

  .sec h2 {
    width: 80%;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
  }

  .sec p {
    width: 80%;
    font-size: 1.2rem;
    padding-right: 10px;
  }

  .btn {
    width: 250px;
    height: 50px;
    font-size: 1.4rem;
    margin-right: 15%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btn:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .secTwo {
    display: flex;
    align-items: center;
    flex-direction: column;
        flex-wrap: nowrap;
    width: 100vw;
    max-width: 600px;
    height: 950px;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
  }

  .grid {
    display: grid;
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 12%;
    background-color: #ffee0000;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  }

  .grid-item {
    width: 90%;
    height: 90%;
    background-color: #00000066;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .grid-item h3 {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.2rem;
    color: var(--t-white);
  }

  .grid-item p {
    padding-left: 10px;
    font-size: 0.9rem;
    width: 90%;
    color: var(--t-white);
  }

  .grid-item:hover {
    box-shadow: 2px 2px 10px #ffffff;
  }

  .txt-st {
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 90%;
  }

  .txt-st h3 {
    font-size: 2rem;
    color: var(--t-white);
  }

  .txt-st p {
    font-size: 1.2rem;
    width: 90%;
    color: var(--t-white);
  }

  .secAction {
    width: 100vw;
    max-width: 600px;
    height: 750px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .secAction ul {
    padding-left: 20px;
  }

  .secAction li {
    font-size: 0.8rem;
    padding-left: 5px;
    color: var(--t-white);
    list-style: none;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .txt-ac {
    width: 45%;
    height: 400px;
  }

  .txt-ac h3 {
    width: 90%;
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .txt-ac p {
    font-size: 0.9rem;
    width: 90%;
    color: var(--t-white);
  }

  .btnTwo {
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 10%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btnTwo:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .sec-venda {
    width: 100vw;
    max-width: 600px;
    height: 800px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB4.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
  }

  .sec-venda h4 {
    color: var(--t-white);
    font-size: 1.8rem;
    padding-top: 15px;
    padding-left: 10PX;
  }

  .sec-venda p {
    width: 90%;
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .dv-venda{
    display: flex;
    width: 70%;
    height: 300px;
    position: absolute;
    margin-top: 85%;
    margin-left: -20%;
    background-color: #ffee0000;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    text-align: center;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .dv-venda p {
    width: 90%;
    color: var(--t-white);
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px #000000;
  }

  .dv-venda button {
    margin-left: 15%;
  }

  #sec-ptwo {
    font-size: 2rem;
  }

  #sec-pbtn {
    font-size: 0.7rem;
  }

  .n-sec {
    display: flex;
    flex-direction: row;
        align-items: center;
    position: absolute;
    margin-top: 720px;
  }

  .n-sec ul {
    display: flex;
        align-items: center;
  }

  .n-sec li {
    margin-right: 10px;
        list-style: none;
  }

  .n-sec a {
    text-decoration: none;
    color: var(--t-white);
    font-size: 0.7rem;
  }

  .n-sec a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }
  
  .fter {
    width: 100vw;
    max-width: 600px;
    height: 40px;
    background-color: var(--t-black);
    color: var(--t-white);
    text-align: center;
  }



}

/* Dispositivos pequenos (tablets retratos e telefones grandes, 600px e superiores) */
@media only screen and (min-width: 600px) {
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 768px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
    --t-green: rgb(5, 199, 5);
    --t-red: red;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .t-green {
    color: var(--t-green);
  }

  .t-red {
    color: var(--t-red);
  }

  .hed {
    width: 100vw;
    max-width: 768px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }


  .sec {
    width: 100vw;
    max-width: 768px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB1.png");
    background-size: cover;
    background-position: center;
  }

  .sec h2 {
    width: 70%;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2rem;
  }

  .sec p {
    width: 60%;
    font-size: 1.5rem;
    padding-right: 10px;
  }

  .btn {
    width: 300px;
    height: 50px;
    font-size: 1.4rem;
    margin-right: 15%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btn:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .secTwo {
    display: flex;
    align-items: center;
    flex-direction: column;
        flex-wrap: nowrap;
    width: 100vw;
    max-width: 768px;
    height: 800px;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
  }

  .grid {
    display: grid;
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 2%;
    background-color: #ffee0000;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  }

  .grid-item {
    width: 90%;
    height: 90%;
    background-color: #00000066;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .grid-item h3 {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .grid-item p {
    padding-left: 10px;
    font-size: 1rem;
    width: 90%;
    color: var(--t-white);
  }

  .grid-item:hover {
    box-shadow: 2px 2px 10px #ffffff;
  }

  .txt-st {
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 50%;
  }

  .txt-st h3 {
    font-size: 2rem;
    color: var(--t-white);
  }

  .txt-st p {
    font-size: 1.2rem;
    width: 90%;
    color: var(--t-white);
  }

  .secAction {
    width: 100vw;
    max-width: 768px;
    height: 800px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .secAction ul {
    padding-left: 10px;
    width: 90%;
  }

  .secAction li {
    font-size: 1.4rem;
    padding-left: 5px;
    color: var(--t-white);
    list-style: none;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .txt-ac {
    width: 45%;
    height: 400px;
  }

  .txt-ac h3 {
    width: 90%;
    font-size: 2rem;
    color: var(--t-white);
  }

  .txt-ac p {
    font-size: 1rem;
    width: 90%;
    color: var(--t-white);
  }

  .btnTwo {
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 5%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btnTwo:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .sec-venda {
    width: 100vw;
    max-width: 768px;
    height: 730px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB4.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
  }

  .sec-venda h4 {
    color: var(--t-white);
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 10PX;
  }

  .sec-venda p {
    width: 90%;
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .dv-venda{
    display: flex;
    width: 70%;
    height: 300px;
    position: absolute;
    margin-top: 45%;
    margin-left: -20%;
    background-color: #ffee0000;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    text-align: center;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .dv-venda p {
    width: 90%;
    color: var(--t-white);
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px #000000;
  }

  .dv-venda button {
    margin-left: 15%;
  }

  #sec-ptwo {
    font-size: 2rem;
  }

  #sec-pbtn {
    font-size: 0.7rem;
  }

  .n-sec {
    display: flex;
    flex-direction: row;
        align-items: center;
    position: absolute;
    margin-top: 680px;
  }

  .n-sec ul {
    display: flex;
        align-items: center;
  }

  .n-sec li {
    margin-right: 10px;
        list-style: none;
  }

  .n-sec a {
    text-decoration: none;
    color: var(--t-white);
    font-size: 1rem;
  }

  .n-sec a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }
  
  .fter {
    width: 100vw;
    max-width: 768px;
    height: 40px;
    background-color: var(--t-black);
    color: var(--t-white);
    text-align: center;
  }




}

/* Dispositivos médios (tablets em paisagem, 768px e superiores) */
@media only screen and (min-width: 768px) {
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 992px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
    --t-green: rgb(5, 199, 5);
    --t-red: red;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .t-green {
    color: var(--t-green);
  }

  .t-red {
    color: var(--t-red);
  }

  .hed {
    width: 100vw;
    max-width: 992px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }


  .sec {
    width: 100vw;
    max-width: 992px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB1.png");
    background-size: cover;
    background-position: center;
  }

  .sec h2 {
    width: 70%;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2rem;
  }

  .sec p {
    width: 60%;
    font-size: 1.5rem;
    padding-right: 10px;
  }

  .btn {
    width: 300px;
    height: 50px;
    font-size: 1.4rem;
    margin-right: 15%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btn:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .secTwo {
    display: flex;
    align-items: center;
    flex-direction: column;
        flex-wrap: nowrap;
    width: 100vw;
    max-width: 992px;
    height: 700px;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
  }

  .grid {
    display: grid;
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 2%;
    background-color: #ffee0000;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  }

  .grid-item {
    width: 90%;
    height: 90%;
    background-color: #00000066;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .grid-item h3 {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .grid-item p {
    padding-left: 10px;
    font-size: 1rem;
    width: 90%;
    color: var(--t-white);
  }

  .grid-item:hover {
    box-shadow: 2px 2px 10px #ffffff;
  }

  .txt-st {
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 40%;
  }

  .txt-st h3 {
    font-size: 2rem;
    color: var(--t-white);
  }

  .txt-st p {
    font-size: 1.2rem;
    width: 90%;
    color: var(--t-white);
  }

  .secAction {
    width: 100vw;
    max-width: 992px;
    height: 800px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .secAction ul {
    padding-left: 10px;
    width: 90%;
  }

  .secAction li {
    font-size: 1.4rem;
    padding-left: 5px;
    color: var(--t-white);
    list-style: none;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .txt-ac {
    width: 45%;
    height: 400px;
  }

  .txt-ac h3 {
    width: 90%;
    font-size: 2.4rem;
    color: var(--t-white);
  }

  .txt-ac p {
    font-size: 1rem;
    width: 90%;
    color: var(--t-white);
  }

  .btnTwo {
    width: 280px;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 8%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btnTwo:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .sec-venda {
    width: 100vw;
    max-width: 992px;
    height: 730px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB4.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
  }

  .sec-venda h4 {
    color: var(--t-white);
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 15px;
  }

  .sec-venda p {
    width: 90%;
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .dv-venda{
    display: flex;
    width: 70%;
    height: 300px;
    position: absolute;
    margin-top: 40%;
    margin-left: -20%;
    background-color: #ffee0000;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    text-align: center;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .dv-venda p {
    width: 90%;
    color: var(--t-white);
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px #000000;
  }

  .dv-venda button {
    margin-left: 15%;
  }

  #sec-ptwo {
    font-size: 2rem;
  }

  #sec-pbtn {
    font-size: 0.7rem;
  }

  .n-sec {
    display: flex;
    flex-direction: row;
        align-items: center;
    position: absolute;
    margin-top: 680px;
  }

  .n-sec ul {
    display: flex;
        align-items: center;
  }

  .n-sec li {
    margin-right: 10px;
        list-style: none;
  }

  .n-sec a {
    text-decoration: none;
    color: var(--t-white);
    font-size: 1rem;
  }

  .n-sec a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }
  
  .fter {
    width: 100vw;
    max-width: 992px;
    height: 40px;
    background-color: var(--t-black);
    color: var(--t-white);
    text-align: center;
  }




}


/* Dispositivos grandes (laptops/desktops, 992px e superiores) */
@media only screen and (min-width: 992px) {
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 1200px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
    --t-green: rgb(5, 199, 5);
    --t-red: red;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .t-green {
    color: var(--t-green);
  }

  .t-red {
    color: var(--t-red);
  }

  .hed {
    width: 100vw;
    max-width: 1200px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }


  .sec {
    width: 100vw;
    max-width: 1200px;
    height: 550px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB1.png");
    background-size: cover;
    background-position: center;
  }

  .sec h2 {
    width: 60%;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2.5rem;
  }

  .sec p {
    width: 60%;
    font-size: 1.8rem;
    padding-right: 10px;
  }

  .btn {
    width: 400px;
    height: 50px;
    font-size: 1.8rem;
    margin-right: 15%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btn:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .secTwo {
    display: flex;
    align-items: center;
    flex-direction: column;
        flex-wrap: nowrap;
    width: 100vw;
    max-width: 1200px;
    height: 920px;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
  }

  .grid {
    display: grid;
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 6%;
    background-color: #ffee0000;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  }

  .grid-item {
    width: 90%;
    height: 90%;
    background-color: #00000066;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .grid-item h3 {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.8rem;
    color: var(--t-white);
  }

  .grid-item p {
    padding-left: 10px;
    font-size: 1.4rem;
    width: 90%;
    color: var(--t-white);
  }

  .grid-item:hover {
    box-shadow: 2px 2px 10px #ffffff;
  }

  .txt-st {
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 44%;
  }

  .txt-st h3 {
    font-size: 2.5rem;
    color: var(--t-white);
  }

  .txt-st p {
    font-size: 1.8rem;
    width: 90%;
    color: var(--t-white);
  }

  .secAction {
    width: 100vw;
    max-width: 1200px;
    height: 900px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .secAction ul {
    padding-left: 10px;
    width: 90%;
  }

  .secAction li {
    font-size: 1.8rem;
    padding-left: 5px;
    color: var(--t-white);
    list-style: none;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .txt-ac {
    width: 45%;
    height: 400px;
  }

  .txt-ac h3 {
    width: 90%;
    font-size: 2.2rem;
    color: var(--t-white);
  }

  .txt-ac p {
    font-size: 1.4rem;
    width: 90%;
    color: var(--t-white);
  }

  .sec-venda {
    width: 100vw;
    max-width: 1200px;
    height: 730px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB4.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
  }

  .sec-venda h4 {
    width: 90%;
    color: var(--t-white);
    font-size: 2.5rem;
    padding-top: 15px;
    padding-left: 15px;
  }

  .sec-venda p {
    width: 90%;
    font-size: 1.8rem;
    color: var(--t-white);
  }

  .dv-venda{
    display: flex;
    width: 50%;
    height: 300px;
    position: absolute;
    margin-top: 30%;
    margin-left: -20%;
    background-color: #ffee0000;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    text-align: center;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .dv-venda p {
    width: 90%;
    color: var(--t-white);
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000000;
  }

  .dv-venda button {
    margin-left: 15%;
  }

  #sec-ptwo {
    font-size: 2.5rem;
  }

  #sec-pbtn {
    font-size: 0.9rem;
  }

  .n-sec {
    display: flex;
    flex-direction: row;
        align-items: center;
    position: absolute;
    margin-top: 655px;
  }

  .n-sec ul {
    display: flex;
        align-items: center;
  }

  .n-sec li {
    margin-right: 20px;
        list-style: none;
  }

  .n-sec a {
    text-decoration: none;
    color: var(--t-white);
    font-size: 1.5rem;
  }

  .n-sec a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }
  
  .fter {
    width: 100vw;
    max-width: 1200px;
    height: 40px;
    background-color: var(--t-black);
    color: var(--t-white);
    text-align: center;
  }





}

/* Dispositivos extragrandes (laptops e desktops grandes, 1200px e superiores) */
@media only screen and (min-width: 1200px) {
  html {
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 1366px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  h1 {

    padding-left: 5px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  :root {
    --t-white: white;
    --t-black: black;
    --c-yellow: #ffee00;
    --t-green: rgb(5, 199, 5);
    --t-red: red;
  }

  .montserrat-bg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montserrat-nm {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-bg {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .noto-sans-nm {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

  .t-white {
    color: var(--t-white);
  }

  .t-black {
    color: var(--t-black);
  }

  .t-green {
    color: var(--t-green);
  }

  .t-red {
    color: var(--t-red);
  }

  .hed {
    width: 100vw;
    max-width: 1366px;
    height: 40px;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
        align-items: center;
    background-color: var(--t-black);
  }

  .hed nav {
    margin-right: 20px;
  }
  .hed h1 {
    color: var(--t-white);
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .hed ul {
    display: flex;
    align-items: center;
  }

  .hed li {
    margin-right: 10px;
    list-style: none;
  }

  .hed ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--t-white);
    padding: 5px;
  }

  .hed a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }


  .sec {
    width: 100vw;
    max-width: 1366px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB1.png");
    background-size: cover;
    background-position: center;
  }

  .sec h2 {
    width: 60%;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2.5rem;
  }

  .sec p {
    width: 750px;
  }

  .btn {
    width: 400px;
    height: 50px;
    font-size: 1.5rem;
    margin-right: 15%;
    margin-top: 2%;
    border-style: none;
    color: #ffffff;
    background-color: #1fa4f7;
    cursor: pointer;
  }

  .btn:hover {
    box-shadow: -2px 2px 10px #ffffff;
  }

  .secTwo {
    display: flex;
    align-items: center;
    flex-direction: column;
        flex-wrap: nowrap;
    width: 100vw;
    max-width: 1366px;
    height: 600px;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB2.png");
    background-size: cover;
    background-position: center;
  }

  .grid {
    display: grid;
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: -6%;
    background-color: #ffee0000;
    align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-sizing: border-box;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
  }

  .grid-item {
    width: 90%;
    height: 90%;
    background-color: #00000066;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .grid-item h3 {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.5rem;
    color: var(--t-white);
  }

  .grid-item p {
    padding-left: 10px;
    font-size: 1rem;
    width: 90%;
    color: var(--t-white);
  }

  .grid-item:hover {
    box-shadow: 2px 2px 10px #ffffff;
  }

  .txt-st {
    width: 80%;
    height: 200px;
    position: absolute;
    margin-top: 15%;
  }

  .txt-st h3 {
    font-size: 2.5rem;
    color: var(--t-white);
  }

  .txt-st p {
    font-size: 1.5rem;
    width: 700px;
    color: var(--t-white);
  }

  .secAction {
    width: 100vw;
    max-width: 1366px;
    height: 745px;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    padding-top: 20px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB3.png");
    background-size: cover;
    background-position: center;
  }

  .secAction li {
    font-size: 1.8rem;
    padding-left: 5px;
    color: var(--t-white);
    list-style: none;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .txt-ac {
    width: 45%;
    height: 400px;
  }

  .txt-ac h3 {
    width: 90%;
    font-size: 2.2rem;
    color: var(--t-white);
  }

  .txt-ac p {
    font-size: 1.5rem;
    width: 90%;
    color: var(--t-white);
  }

  .sec-venda {
    width: 100vw;
    max-width: 1366px;
    height: 690px;
    background-image: url("https://kreivesler.github.io/Pagina-inicial/Curso-de-informatica/img/fundoWEB4.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
  }

  .sec-venda h4 {
    color: var(--t-white);
    font-size: 2.5rem;
    padding-top: 15px;
  }

  .sec-venda p {
    width: 80%;
    color: var(--t-white);
  }

  .dv-venda{
    display: flex;
    width: 40%;
    height: 300px;
    position: absolute;
    margin-top: 18%;
    margin-left: -40%;
    background-color: #ffee0000;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    text-align: center;
    border-left: #1fa4f7;
    border-left-style: solid;
  }

  .dv-venda p {
    width: 90%;
    color: var(--t-white);
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000000;
  }

  .dv-venda button {
    margin-left: 15%;
  }

  #sec-ptwo {
    font-size: 2.8rem;
  }

  #sec-pbtn {
    font-size: 1rem;
  }

  .n-sec {
    display: flex;
    flex-direction: row;
        align-items: center;
    position: absolute;
    margin-top: 45%;
  }

  .n-sec ul {
    display: flex;
        align-items: center;
  }

  .n-sec li {
    margin-right: 20px;
        list-style: none;
  }

  .n-sec a {
    text-decoration: none;
    color: var(--t-white);
    font-size: 1.2rem;
  }

  .n-sec a:hover {
    border-bottom: #1fa4f7;
    border-bottom-style: solid;
  }
  
  .fter {
    width: 100vw;
    max-width: 1366px;
    height: 40px;
    background-color: var(--t-black);
    color: var(--t-white);
    text-align: center;
  }
}
